@page "/"

<style>
    h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: auto;
    }

    .descriptiontext {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: auto;
    }

    img {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<h3>About Us</h3>

<body>
    <div id="container">
        <div id="main">
            <img src="https://cdn.pixabay.com/photo/2017/01/19/13/22/ecommerce-1992280__340.png" alt="Online Shop" width="30%" height="30%">
        </div>



        <div id="content">
            <p class="descriptiontext">
                MDH Traders is a sales company that only relies on traditional walk-in as well as social media to attract customers. However, this new website will allow customers to be able to make purchases online.
            </p>

        </div>
    </div>
</body>

@code { }