@page "/orders/"
@inject HttpClient _client
@inject IJSRuntime js
@inject HttpInterceptorService _interceptor
@implements IDisposable
@attribute [Authorize]


<h3 class="card-title">Order List</h3>
<br />

@if (Orders == null)
{
    <div class="alert alert-info">Loading Orders...</div>
}
else
{
    <table class="table table-responsive" id="ordersTable">
        <thead>
            <tr>
                <th>Order No.</th>
                <th>Order Date</th>
                <th>Payment Mthd</th>
                <th>View Order</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Orders)
            {
                @foreach (var payment in Payments)
                {
                    @if (payment.OrderId == order.Id)
                    {

                        <tr>
                            <th>@order.Id</th>
                            <th>@order.OrderDate</th>
                            <th>@payment.Method</th>
                            <th>
                                <a href="/orders/view/@order.Id" class="btn btn-primary">
                                    <span class="oi oi-book"></span>
                                </a>
                                <a href="/payments/edit/@payment.Id" class="btn btn-warning">
                                    <span class="oi oi-pencil"></span>
                                </a>
                                <button class="btn btn-danger" @onclick="@(() => Delete(order.Id))">
                                    <span class="oi oi-delete"></span>
                                </button>
                            </th>
                        </tr>
                        }
                    }
                }
            </tbody>
    </table>
}





@code {
    private List<Order> Orders;
    private List<OrderItem> OrderItems;
    private List<Payment> Payments;
    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Orders = await _client.GetFromJsonAsync<List<Order>>($"{Endpoints.OrdersEndpoint}");
        OrderItems = await _client.GetFromJsonAsync<List<OrderItem>>($"{Endpoints.OrderItemsEndpoint}");
        Payments = await _client.GetFromJsonAsync<List<Payment>>($"{Endpoints.PaymentsEndpoint}");
    }
    async Task Delete(int OrderId)
    {
        var order = Orders.First(q => q.Id == OrderId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {order.Id}");
        if (confirm)
        {
            @foreach (var orderitem in OrderItems)
            {
                var orderitems = OrderItems.First(q => q.OrderId == OrderId);
                await _client.DeleteAsync($"{Endpoints.OrderItemsEndpoint}/{orderitems.Id}");

            }
            @foreach (var payment in Payments)
            {
                var payments = Payments.First(q => q.OrderId == OrderId);
                await _client.DeleteAsync($"{Endpoints.PaymentsEndpoint}/{payments.Id}");
            }
            await _client.DeleteAsync($"{Endpoints.OrdersEndpoint}/{OrderId}");
            await OnInitializedAsync();
        }
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#ordersTable");
    }
    public void Dispose()
    {
        js.InvokeVoidAsync("DataTablesDispose", "#ordersTable");
    }
}
